<h1>liste fournisseurs</h1>
<div *ngFor="let Fournisseur of listFournisseur">
    <fieldset *ngIf="isValidID(Fournisseur.idFournisseur)" 
        [style.background-color]="Fournisseur.libelle=='hp' ? 'green' : 'yellow'"
        (dblclick)="deleteFournisseur(Fournisseur.idFournisseur)"
    >
        <legend>IdFournisseur:  {{Fournisseur.idFournisseur}}</legend>
        <p [style.font-weight]="getColor(Fournisseur.code) ? 'bold' : 'normal'">Code: {{Fournisseur.code}}</p>
        <p>Libelle: {{Fournisseur.libelle}} </p>
    </fieldset>
</div>
